@import '../../base.scss';

.sidebar__button {
  padding: 0px;
  border: 0px;
  background-color: transparent;
}

.sidebar-image{
  width: 28px;
  height: 28px;
}

.chat-header__svg{
  background-image: url("data:image/svg+xml,%3Csvg width='3' height='16' viewBox='0 0 3 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.5' cy='2' r='1.5' fill='%231E1E1E'/%3E%3Ccircle cx='1.5' cy='8' r='1.5' fill='%231E1E1E'/%3E%3Ccircle cx='1.5' cy='14' r='1.5' fill='%231E1E1E'/%3E%3C/svg%3E");
  width: 3px;
  height: 16px;
  display: flex;
  margin: auto;
}
.chat-header__button{
  background: transparent;
  border: 0px;
  width: 15px;
  height: 24px;
  padding: 0px;
}