@import '../../base.scss';

.profile-info {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 510px;
  margin: 0 auto;

  &__avatar {
    width: 130px;
    height: 130px;
    margin: 60px auto 21px auto;

    &_separated {
      margin-bottom: 60px;
    }
  }

  &__image {
    width: 130px;
    height: 130px;
  }

  &__user-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: $label-color-black;
    margin-bottom: 60px;
  }

  &__input {
    font-size: 13px;
    line-height: 13px;
    text-align: right;
    color: $label-color;
    width: calc(100% - 200px - 4px);
    margin-left: auto;
    border: 0;

    &-label {
      font-size: 13px;
      line-height: 13px;
      color: $label-color-black;
      width: 200px;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $border-color;
      padding-bottom: 10px;
      margin: 10px auto;
      flex-wrap: wrap;

      &_last {
        border: 0;
        margin-bottom: 60px;
      }
    }
  }

  &__link {
    display: block;
    text-align: left;
    margin: 10px 0;
    text-decoration: none;
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;

    &_blue {
      color: $primary-color;
    }

    &_red {
      color: $primary-red;
      border: 0;
    }
  }

  &__button {
    height: 37px;
    width: 280px;
    margin: 0 auto;
    border-radius: 8px;
    color: $label-color-light;
    background: $primary-color;
    border-width: 0;

    &-wrapper {
      display: flex;
    }
  }
}
