$primary-color: #107d9f;
$label-color: #999;
$label-color-light: #fff;
$border-color:#eaeaea;
$input-color: #1242bd;
$label-color-black:#1e1e1e;
$primary-red:#e70037;
$sidebar-color:#fbfbfb;
$form-back: #e4edfd;

.hidden {
  display: none !important;
}
