@import '../../base.scss';

.login-form-link {
  display: block;
  text-align: center;
  margin: 5px 0px;
  color: $primary-color;
  text-decoration: none;
}

.sidebar-link {
  display: flex;
  text-align: center;
  margin-left: calc(100% - 80px);
  color: $label-color;
  text-decoration: none;
}
